* {
	text-align: center;
}

body{
	background-color: D2D5D6;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 72px;
	text-align: center;
	color: gold;
} 

button {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	border-radius: 10px;
	background-color: #ccc;
	color: red;
}